<div class="main">
    <div class="name_av">
        <img src="https://api.multiavatar.com/{{avatar}}.svg?apikey=1bQP8zfUEsxpGu" width="64px" alt="">
    <div class="full_name">{{full_name}}</div>
    </div>
    

<div class="statistics">
    <div class="left_right">
        <li style="font-size: 1.5rem; list-style-type: none;"> {{age}}</li>
        <li style="font-size: 1.5rem; list-style-type: none;"> {{email}}</li>
        <li style="font-size: 1.5rem; list-style-type: none;"> {{number}}</li>
        <li style="font-size: 1.5rem; list-style-type: none;">Средний балл: {{avg_grade}}</li>
    </div>
    <div class="left_right">
        <li style="font-size: 1.5rem; list-style-type: none;">{{estimation}}</li>
        <li style="font-size: 1.5rem; list-style-type: none;"> <img src="https://mystat.itstep.org/assets/images/christal.png" alt=""> {{almz}} </li>
        <li style="font-size: 1.5rem; list-style-type: none;"> <img src="https://mystat.itstep.org/assets/images/coin.png" alt=""> {{coin}}</li>
        <li style="font-size: 1.5rem; list-style-type: none;">{{visit}}</li>
    </div>
</div>
</div>
   